footer{
    display: flex;
    align-items: center;
    margin: 20px auto 200px;
    background: $Cambridge-color;
    width: 90%;
    .from{
        width: 100%;
        text-align: left;
        text-transform: uppercase;
        padding: 10px;
        color: $black-color;
        input{
            display: block;
        }
        label{
            display: block;
        }
        button{
           display:flex;
           flex-direction: column;
        }
    }
}