footer{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 20px auto 200px;
    background: $Cambridge-color;
    width: 90%;
    .from{
        width: 100%;
        text-align: left;
        text-transform: uppercase;
        padding: 10px;
        color: $black-color;
        border-right: 1px solid $line-color;
        input{
            width: 90%;
            border: none;
            border-radius: 5px;
            height: 30px;
            margin: 10px 0;
        }
        label{
            display: block;
            width: 90%;
        }
        textarea{
            width: 90%;
            border-radius: 5px;
            border: none;
            margin: 10px auto;
        }
      
    }
    .contact-info{
        width: 100%; 
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows:1fr 1fr 1fr 1fr;
        p{
            padding: 0 10px;
        }
       
    }
    .part{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $line-color;
        min-height: 100px;
        text-align: left;
        
    }
    .part-socail{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }
    .icon-socail{
        display: flex;
        align-items: center;
        ul{
            display: flex;
        }
        li{
            padding: 0 10px ;
        }
    }
}