//Réinitialisation des styles
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
//variables de couleur
$gray-color:#606060;
$white-color:#FFFFFF;
$black-color:#040404;
$Cambridge-color:#647457;

// Définition des polices de caractères personnalisées 

@font-face {
    font-family: inter;
    src: url(/assets/font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family:Merriweather;
    src: url(/assets/font/Merriweather/Merriweather-Light.ttf);
}
/* Styles pour le corps de la page */
body{
    background: url(/assets/img/LA\ MONTAGNE.jpg) center/cover no-repeat;
    text-align: center;
    font-family:Merriweather;
}
h3{
    text-transform: capitalize;
    padding: 30px 0;
}

//Mixin pour centrer le contenu 

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 